spring:
  application:
    name: recipe-api-grpc
  grpc:
    server:
      port: 50051
      reflection:
        enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/recipe
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
