version: "3.9"
name: "recipes-backend"
services:
  postgres:
    image: postgres:16
    container_name: recipe-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: recipe
      POSTGRES_USER: postgres
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
