spring:
#  autoconfigure:
#    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  application:
    name: recipe-api-service
  jackson:
    property-naming-strategy: SNAKE_CASE

  flyway:
    enabled: false
    locations: classpath:recipe/migration
    baseline-on-migrate: true
    baseline-version: 1

  datasource:
    url: jdbc:postgresql://localhost:5432/recipe_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    path: /v3/api-docs
  show-actuator: false

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8081

#logging:
#  level:
#    root: INFO
#    org.springframework.security: TRACE