server:
  port: 8082
spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            corsConfigurations:
              '[/**]':
                allowedOrigins: "http://localhost:8082"
                allowedMethods:
                  - "GET"
                  - "POST"
#                  - PUT
#                  - DELETE
#                  - OPTIONS
                allowedHeaders: "*"
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
          routes:
            - id: recipe-service
              uri: 'http://localhost:8081'
              predicates:
                - Path=/recipe-service/**
              filters:
                - StripPrefix=1
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Recipe Service
        url: /recipe-service/v3/api-docs
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG
    org.springframework.http.server.reactive: DEBUG
    org.springframework.boot.context.config: DEBUG
